body {
	background-color: pink;
}
footer {
	font-family: arial;
	color: grey;
	position: fixed;
	left: 0;
	bottom: 0;
	
}
nav a {
	display: flex;
	font-family:arial black;
	color: white;
}
nav a:link {
	color: gold;
}
nav a:visited {
	color: green;
}
nav a:active {
	color: beige;
}
nav a:hover {
	color: violet;
}
nav a:focus {
	color: brown;
}
artical p,h2 {
	color: blue;
}
hgroup {
	color: purple;
}